*
{
    box-sizing: border-box;
    
}


.container
{
    width: 80%;
    margin:0 auto;
	background-color: black;
}
.header
{
	height: 140px;
}
.header img
{
    width: 20%;
    height: 100px;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li
{
    float: left;
    width: 33%;
    text-align: center;
    height: 40px;
    font-size: 35px;
    background-color: white;

}

ul li a
{
	display: block;
    text-decoration: none;
	color: black;
}
ul li a:hover
{
    background-color: #ff9a00;
	color: white;
}

.main
{
    padding: 20px;

}

.register
{
    vertical-align: top;
    display: inline-block;
    width: 20%;
	color:#ff9a00;
}
.articles
{
    width: 75%;
    display: inline-block;
}

.articles .details
{
    width: 40%;
    display: inline-block;
    background-color: #ff9a00;
    margin: 5px;
    padding: 5px;
}
.articles img
{
    width: 100%;
	height: 200px;
}
.footer
{
    text-align: center;
    height: 40px;
    font-size: 20px;
    background-color: #ff9a00;
}
